#start-page {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25vh;
  background-color: transparent;
  border: 10px solid rgba(155, 118, 92, 0.32);
  border-radius: 0px;
  text-align: center;
  padding: 50px;
  position: relative;
  background-image: url('../images/dialog_background.jpg');
  background-size: cover;
}

#paper-message {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url('../images/dialog_background.jpg');
  background-size: cover;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  height: 40vh;
  border: 10px solid rgba(155, 118, 92, 0.32);
  border-radius: 0px;
}

#paper-message > p {
  font-family: 'Reenie Beanie', cursive;
  font-size: 48px;
  margin: 0;
}

/* #paper-message > p:nth-child(6) {
  margin-bottom: 20px;
} */

#start-timer-btn {
  align-self: center;
  padding: 10px;
  font-size: 18px;
}
