* {
  font-family: 'Inconsolata', monospace;
}

body {
  overflow: hidden;
  background-image: url('../images/forest.jpg');
  background-size: cover;
}

#page-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.dialog-box {
  width: 15%;
  height: 400px;
  border: 10px solid rgba(155, 118, 92, 0.32);
  border-radius: 0px;
  top: 80px;
  background-image: url('../images/dialog_background.jpg');
  background-size: cover;
  text-align: center;
}

#left-dialog-box {
  left: 0;
  display: none;
  position: relative;
}

#right-dialog-box {
  right: 0;
  display: none;
  position: relative;
}

#top-scores-container {
  display: none;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-image: url('../images/dialog_background.jpg');
  background-size: cover;
  border: 10px solid rgba(155, 118, 92, 0.32);
  border-radius: 0px;
  width: 50vw;
  height: 50vh;
  text-align: center;
}

#top-scores-names {
  flex: 1;
}

#top-scores {
  flex: 1;
}

#final-score {
  margin-left: auto;
  margin-right: auto;
  flex: 1 100%;
}

#top-ten-title {
  flex: 1 100%;
}

ol {
  text-align: center;
  padding: none;
}

.list-header {
  font-size: 18px;
  font-weight: bold;
}
