#transition-map-container {
  position: relative;
  display: none;
  height: 800px;
  width: 1000px;
  border: 10px solid rgba(155, 118, 92, 0.32);
  border-radius: 0px;
}

#seattle-map-image {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#taxi {
  position: absolute;
}
/* animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
} */

#troll-drop-target {
  display: none;
  position: absolute;
  width: 80px;
  height: 50px;
  top: 35%;
  left: 41%;
  background-color: transparent;
}

#discovery-park-drop-target {
  display: none;
  position: absolute;
  width: 165px;
  height: 140px;
  top: 170px;
  left: 15px;
  background-color: transparent;
}
