
#image-specific-id {
  height: 70%;
  width: 70%;
  position: relative;
}

#page-one-specific-button {
  top: 500px;
  right:1000px;
  padding: 50px 50px;
  color: transparent;
  background-color:transparent;
  position:absolute;
  border-color: transparent;
}

#first-clue-id {
  background-color: cadetblue;
  border: black;
  position: center;
  text-align: center;
}
