
#image-specific-id {
  height: 100%;
  width: 100%;
  position: absolute;
}

#puzzle-one-page-container {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#puzzle-one-clues {
  display: flex;
  flex-direction: column;
  width: 15%;
  left: 0;
  height: 400px;
  background: transparent;
  border: 10px solid rgba(155,118,92,0.32);
  border-radius: 0px;
  position: relative;
  background-image: url('../images/dialog_background.jpg')
}

#top-div {
  height: 850px;
  width: 70%;
  position: relative;
  display: none;
  border: 10px solid black;
  border-radius: 0px;
}

#mid-div, #lower-div {
  display: none;
}

#page-one-specific-button {
  padding: 50px 50px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  border-color: transparent;
}

#first-clue-id {
  background-color: cadetblue;
  border: black;
  position: absolute;
  text-align: center;
  width: 100%;
}
