/* #spin-in {
  opacity: .2;
  height: 50px;
  width: 50px;
  transform: translateX(0) rotate(0deg);
  transition: all .75s ease;
}

#spin-in.show2 {
  transform: translateX(450px) rotate(720deg);
  opacity: 1;
} */
.ruby {
  position: absolute;
}

.show1 {
  animation-duration: 1s;
  animation-name: slidein1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein1 {
  from {
    margin-right: 0%;
    width: 2%;
  }

  to {
    margin-right: 100%;
    width: 15%;
  }
}

.show2 {
  animation-duration: 1s;
  animation-name: slidein2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein2 {
  from {
    margin-left: 0%;
    width: 2%;
  }

  to {
    margin-left: 100%;
    width: 15%;
  }
}
