#troll-puzzle-container {
  display: none;
  position: relative;
  height: 70vh;
  width: 70vw;
}

#fremont-troll-image {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border: 10px solid black;
  border-radius: 0px;
}

#troll-words {
  position: absolute;
}

#joke-form {
  padding-top: 200px;
}
