
#image-specific-id {
  height: 90%;
  width: 90%;
  position: center;
  position: relative;

}


#page-one-specific-button {
  top: 500px;
  right:1000px;
  padding: 25px 25px;
  color: transparent;
  background-color:transparent;
  border-color: transparent;
  position:absolute;
  border-color: teal;

  /* trying to fix button to exact location */
}
